// $lightest: #fffff7;
// $bright: #ffffab;
// $dbright: #ffeb9e;
// $deeper: #808055;
// $deepest: #8c8156;
// $medium: #ccccc6;
// $darkest: #80807c;

$lightest: #f4f8ff;
$bright: #99adcc;
$dbright: #5c89cc;
$deeper: #436495;
$deepest: #436495;
$medium: #606c80;
$darkest: #4d5766;
