// $lightest: #fffff7;
// $bright: #ffffab;
// $dbright: #ffeb9e;
// $deeper: #808055;
// $deepest: #8c8156;
// $medium: #ccccc6;
// $darkest: #80807c;

// Blue Palette
$lightest: #f4f8ff; // first bg color, navmenu color
$bright: #99adcc;
$dbright: #5c89cc;
$deeper: #436495; // second bg color, navlink hover
$deepest: #436495; // third bg color
$medium: #606c80;
$darkest: #4d5766;

$text-color: white;
$landing-text: black;

// Grey Palette
// $lightest: #595959; // first bg color, navmenu color
// $bright: #99adcc;
// $dbright: #5c89cc;
// $deeper: white; // second bg color, navlink hover
// $deepest: #707070; // third bg color
// $medium: #606c80;
// $darkest: #707070;

// $text-color: black;
// $landing-text: white;

// Green/Yellow Palette
// $lightest: white; // first bg color, navmenu color
// $bright: #fdd1cd;
// $dbright: #5c89cc;
// $deeper: #fd8b81; // second bg color, navlink hover
// $deepest: #7d4540; // third bg color
// $medium: #606c80;
// $darkest: #7d6765;

// $text-color: white;
// $landing-text: black;

// White to Grey Palette
// $lightest: #fafcfc; // first bg color, navmenu color
// $bright: #c8caca;
// $dbright: #c8caca;
// $deeper: #c8caca; // second bg color, navlink hover
// $deepest: #c8caca; // third bg color
// $medium: #606c80;
// $darkest: #8a8a8a;

// $text-color: black;
// $landing-text: black;
