@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=League+Gothic&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto Mono", monospace;
}

.about__study--item-img, .about__study--item-text, .page-block, .navbar__logo, .navbar, footer, body, html, .navbar__menu__container {
  margin: 0;
  padding: 0;
}

.navbar__menu__container {
  list-style: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f8ff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar__logo {
  padding: 10px;
  margin-left: 5vw;
  transition: 1s;
}
.navbar__logo:hover {
  color: #436495;
}
.navbar__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar__menu__container {
  display: none;
}
@media only screen and (min-width: 576px) {
  .navbar__menu__container {
    display: flex;
    flex-direction: row;
  }
  .navbar__menu__container__item {
    padding: 10px;
  }
  .navbar__menu__container__item a {
    color: black;
    transition: 0.5s;
  }
  .navbar__menu__container__item a:hover {
    color: #436495;
  }
}

.content {
  background-image: linear-gradient(#f4f8ff 5%, #436495, #436495);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-block {
  min-height: 100vh;
  padding: 10px 0px;
  color: white;
}

.landing {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 80%;
  padding: 0 5%;
  text-align: right;
}
.landing__head {
  text-transform: lowercase;
  font-size: 3em;
}
.landing__text {
  background-color: black;
  transition: 0.2s;
}
.landing__text:hover {
  background-color: rgba(0, 0, 0, 0);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .skills__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .skills__head {
    margin: 100px;
  }
}
.skills__head--left {
  text-align: left;
}
.skills__head--center {
  text-align: center;
}
.skills__head--right {
  text-align: right;
}
.skills__card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .skills__card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.skills__card--item {
  font-size: 1.5em;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__card--item-text {
  margin-left: 10px;
}

.projects__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .projects__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .projects__head {
    margin: 100px;
  }
}
.projects__head--left {
  text-align: left;
}
.projects__head--center {
  text-align: center;
}
.projects__head--right {
  text-align: right;
}
.projects__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .projects__group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.projects__group__item {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
@media only screen and (min-width: 576px) {
  .projects__group__item {
    flex-wrap: nowrap;
  }
}
.projects__group__item--title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__group__item--thumbnail {
  width: 200px;
}
.projects__group__item--dscrb {
  padding: 0 20px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.about__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .about__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .about__head {
    margin: 100px;
  }
}
.about__head--left {
  text-align: left;
}
.about__head--center {
  text-align: center;
}
.about__head--right {
  text-align: right;
}
.about__study {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.about__study--item {
  margin: 5px 40px;
  text-align: right;
}
.about__study--item-text {
  margin: 5px;
  text-transform: uppercase;
}
.about__study--item-img {
  filter: brightness(0%) grayscale(100%) invert(100%);
  transition: 0.5s;
}
.about__study--item-img:hover {
  filter: none;
}
.about__me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about__me--img {
  max-width: 300px;
  border-radius: 200px;
  margin: 0 5vw;
}
.about__me--text {
  max-width: 500px;
  padding: 10px;
}

.contact {
  padding: 20px;
  min-height: 100px;
  background-color: #4d5766;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .contact__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .contact__head {
    margin: 100px;
  }
}
.contact__head--left {
  text-align: left;
}
.contact__head--center {
  text-align: center;
}
.contact__head--right {
  text-align: right;
}
.contact__head {
  margin: 0;
  padding: 20px;
}
.contact__text {
  text-align: center;
}
