@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=League+Gothic&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto Mono", monospace;
}

footer, .study__card--item img, .study__card--item p, .page-block, .navbar__logo, .navbar, body, html, .navbar__container__menu {
  margin: 0;
  padding: 0;
}

.navbar__container__menu {
  list-style: none;
}

body {
  background-image: linear-gradient(#f4f8ff 5%, #436495, #436495);
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4f8ff;
  z-index: 1;
}
.navbar__logo {
  padding: 10px;
  margin-left: 5vw;
}
.navbar__logo:hover {
  transition: 0.5s;
  color: #436495;
}
.navbar__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar__container__menu {
  display: none;
  text-align: right;
}
.navbar__container__menu__item {
  padding: 15px;
}
@media only screen and (min-width: 576px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1em;
  }
  .navbar__container__menu__item {
    padding: 10px;
  }
  .navbar__container__menu__item a:hover {
    transition: 0.5s;
    color: #436495;
  }
}

.content {
  width: 100%;
}

.page-block {
  padding: 10px 0px;
  color: white;
  min-height: 100vh;
}

.landing {
  max-width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0vw 5vw;
}
.landing__head {
  text-transform: lowercase;
  font-size: 3em;
  text-align: right;
}
.landing__subhead {
  text-align: right;
}
.landing__text {
  color: black;
  background-color: black;
  transition: 0.2s;
}
.landing__text:hover {
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills__head {
  font-size: 1.7em;
  margin: 20px;
}
@media only screen and (min-width: 576px) {
  .skills__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .skills__head {
    margin: 100px;
  }
}
.skills__head--left {
  text-align: left;
}
.skills__head--center {
  text-align: center;
}
.skills__head--right {
  text-align: right;
}
.skills__card {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__card--item {
  font-size: 1.5em;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__card--item p {
  margin-left: 10px;
}

.projects__head {
  font-size: 1.7em;
  margin: 20px;
}
@media only screen and (min-width: 576px) {
  .projects__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .projects__head {
    margin: 100px;
  }
}
.projects__head--left {
  text-align: left;
}
.projects__head--center {
  text-align: center;
}
.projects__head--right {
  text-align: right;
}
.projects__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .projects__group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.projects__group__item {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
@media only screen and (min-width: 576px) {
  .projects__group__item {
    flex-wrap: nowrap;
  }
}
.projects__group__item--title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__group__item img {
  width: 150px;
}
.projects__group__item p {
  padding: 0 20px;
}

.study__card {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.study__card--item {
  font-size: 1em;
  text-align: right;
  margin: 5px 40px;
}
.study__card--item p {
  margin: 5px;
  text-transform: uppercase;
}
.study__card--item img {
  filter: brightness(0%) grayscale(100%) invert(100%);
  transition: 0.5s;
}
.study__card--item img:hover {
  filter: none;
}

.about {
  display: flex;
  flex-direction: column;
  color: white;
}
.about__head {
  font-size: 1.7em;
  margin: 20px;
}
@media only screen and (min-width: 576px) {
  .about__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .about__head {
    margin: 100px;
  }
}
.about__head--left {
  text-align: left;
}
.about__head--center {
  text-align: center;
}
.about__head--right {
  text-align: right;
}
.about__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about__card--img {
  border-radius: 200px;
  margin: 0 5vw 5vw 0;
}
.about__card--text {
  max-width: 500px;
  padding: 10px;
}

.contact {
  background-color: #4d5766;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100px;
}
.contact__head {
  font-size: 1.7em;
  margin: 20px;
}
@media only screen and (min-width: 576px) {
  .contact__head {
    margin: 50px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .contact__head {
    margin: 100px;
  }
}
.contact__head--left {
  text-align: left;
}
.contact__head--center {
  text-align: center;
}
.contact__head--right {
  text-align: right;
}
.contact__head {
  margin: 0;
  padding: 20px;
}
.contact__text {
  text-align: center;
}
