@use "palette";
@use "typography";
@use "responsive";

%unpad {
	margin: 0;
	padding: 0;
}

%unlist {
	list-style: none;
	@extend %unpad;
}

@mixin headings {
	&__head {
		font-size: 1.7em;
		margin: 20px;
		transition: 0.5s;

		@include responsive.sm-up {
			margin: 50px;
			font-size: 2em;
		}

		@include responsive.lg-up {
			margin: 100px;
		}

		&--left {
			text-align: left;
		}

		&--center {
			text-align: center;
		}

		&--right {
			text-align: right;
		}
	}
}

html {
	@extend %unpad;
}

body {
	@extend %unpad;
	@extend %use-roboto-m;
}

footer {
	@extend %unpad;
}

a {
	color: palette.$text-color;
	text-decoration: none;
}

.navbar {
	@extend %unpad;
	display: flex;
	flex-direction: row;

	color: palette.$landing-text;
	// justify-content: center;
	// align-items: center;

	// @include responsive.sm-up {
	justify-content: space-between;
	align-items: center;
	// }

	background-color: palette.$lightest;
	width: 100%;

	// Keeps navbar at top of window and top layer
	position: fixed;
	top: 0;
	z-index: 1;

	&__logo {
		@extend %unpad;
		padding: 10px;
		margin-left: 5vw;
		transition: 1s;

		&:hover {
			color: palette.$deeper;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&__container {
			@extend %unlist;

			// Links do not show on small screens
			// To change to hamburger menu
			display: none;

			// Links show on larger screens
			@include responsive.sm-up {
				display: flex;
				flex-direction: row;

				&__item {
					padding: 10px;

					a {
						color: palette.$landing-text;
						transition: 0.5s;
					}

					a:hover {
						color: palette.$deeper;
					}
				}
			}
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	// Background gradient
	background-image: linear-gradient(
		palette.$lightest 5%,
		palette.$deeper,
		palette.$deepest
	);
}

.page-block {
	@extend %unpad;
	// Padding and height for each section

	min-height: 100vh;
	padding: 10px 0px;

	// Text color for most content
	color: palette.$text-color;
}

.landing {
	// Text color overwritten to black
	color: palette.$landing-text;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	min-width: 80%;
	padding: 0 5%;

	text-align: right;

	&__head {
		text-transform: lowercase;
		font-size: 3em;
	}

	// &__subhead {
	// }

	&__text {
		background-color: palette.$landing-text;
		transition: 0.2s;

		&:hover,
		&:active {
			background-color: rgba(0, 0, 0, 0);
		}
	}
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include headings;

	// skills__card contains all coding items
	&__card {
		padding: 10px;

		// Single column on small screens
		display: flex;
		flex-direction: column;
		align-items: center;

		@include responsive.sm-up {
			// Centered and wrapped for responsiveness
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		// Class for each item (logo + text)
		&--item {
			font-size: 1.5em;
			width: 150px;
			display: flex;
			align-items: center;
			justify-content: center;

			// &-icon {
			// }

			&-text {
				margin-left: 10px;
			}
		}
	}
}

.projects {
	@include headings;

	&__group {
		// Single column list centered on small screens
		display: flex;
		flex-direction: column;
		align-items: center;

		// Centered esponsive row list on larger screens
		@include responsive.sm-up {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item {
			margin: 20px;

			// Each item card is 500px wide and will wrap to a single column on a small screen
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			max-width: 500px;

			// Item cards will not wrap on larger screens
			@include responsive.sm-up {
				flex-wrap: nowrap;
			}

			// Title cards display thumbnail, name and links in a column
			&--title-card {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&--thumbnail {
				width: 200px;
			}

			&--dscrb {
				padding: 0 20px;
			}
		}
	}
}

.about {
	display: flex;
	flex-direction: column;

	margin-bottom: 50px;

	@include headings;

	&__study {
		padding: 0px 20px;

		// Responsive list of studies
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;

		&--item {
			margin: 5px 40px;

			text-align: right;

			&-text {
				@extend %unpad;
				margin: 5px;
				text-transform: uppercase;
			}

			&-img {
				@extend %unpad;

				// Make image white
				filter: brightness(0%) grayscale(100%) invert(100%);
				transition: 0.5s;

				&:hover {
					filter: none;
				}
			}
		}
	}

	&__me {
		// Centered and responsive wrapping blurb and photo
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		&--img {
			max-width: 300px;
			border-radius: 200px;
			margin: 0 5vw;
		}

		&--text {
			max-width: 500px;
			padding: 10px;
		}
	}
}

.contact {
	@include headings;

	padding: 20px;
	min-height: 100px;
	background-color: palette.$darkest;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__head {
		margin: 0;
		padding: 20px;
	}

	&__text {
		text-align: center;
	}
}
